
.dark {
    background: dimgrey;
    transition: .3s;
}

.dark-text {
    color: aliceblue;
    transition: .3s;
}

.red {
    background: lightcoral;
    transition: .3s;
}

.red-text {
    color: aqua;
    transition: .3s;
}

.some {
    background: lightgreen;
    transition: .3s;
}

.some-text {
    color: darkslateblue;
    transition: .3s;
}

.selectBorders {
    margin: 0 10px
}