.default {
    background-color: #FFD600;
}

.btn {
    margin: 5px;
    padding: 2px;
    box-sizing: border-box;
    height: 30px;
    min-width: 60px;
    border-radius: 3px;
    border: none;
    outline: none;
    transition: .2s;
}

.btn:hover {
    opacity: .8;
    color: #fff;
    cursor: pointer;
}

.red {
    background: red;
}