.containerForm {
    padding: 0 10px;
    margin: 0 auto;
    height: 200px;
    width: 400px;
    background-color: #0B0B0B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.firstBlock {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.totalCount {
    color: #fff;
    font-size: 24px;
}

.error {
    border: 1px solid red;
}

.messageError {
    color: red;
    font-size: 18px;
}
.completed {
    border: 1px solid black;
}

.inputStyle {
    margin-right: 20px;
    box-sizing: border-box;
    height: 40px;
    width: 200px;
    border-radius: 3px;
    background-color: #ffffff26;
    color: #fff;
    transition: .2s;
}

.inputStyle:hover {
    background-color: #ffffff47;
}

.btnAdd {
    margin-right: 20px;
    padding: 5px;
    box-sizing: border-box;
    height: 40px;
    min-width: 50px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #FFD600;
    transition: .2s;
}

.btnAdd:hover {
    color: #fff;
}


.checkboxHW13 {
    position: relative;
    display: flex;
    cursor: pointer;
}

.checkboxHW13 input {
    position: absolute;
    z-index: -20;
    opacity: 0;
}

.checkboxHW13 input:checked + span:after {
    background-color: green;
}

.checkboxHW13 input:checked + span:before {
    left: 22px;
}


.checkboxHW13 span:after {
    content: "";
    display: block;
    position: relative;
    width: 50px;
    height: 30px;
    background-color: red;
    border-radius: 15px;
    top: 0;
    transform: translateY(-50%);
    left: 0;
    transition: .5s;
}

.checkboxHW13 span:before {
    content: "";
    display: block;
    position: relative;
    z-index: 10;
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 46%;
    transform: translateY(-50%);
    left: 2px;
    transition: .5s;
}


